{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% if user.is_authenticated %}
    <form action="{% url 'logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Çıkış Yap</button>
    </form>
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Some Tiny Houses{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'header.html' %}

<main>
    {% block content %}

    {% endblock %}
</main>

    {% include 'footer.html' %}
</body>
</html>