<header class="hero-section">
        <div class="overlay">
            <h1>Some Tiny Houses</h1>
        </div>
        <nav>
            <a href="{% url 'room_list' %}">Odalar ve Rezervasyon</a>
            <a href="#">Hakkımızda</a>
            <a href="contact">İletişim</a>

            {% if request.user.is_authenticated %}
            <p>Hoş geldin, {{ request.user.username }}!</p>
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit"> Çıkış Yap</button>
                    </form>
                {% else %}
                    <a href="{% url 'login' %}">Giriş yap</a>
                    <a href="{% url 'signup' %}">Kayıt ol</a>
                {% endif %}
        </nav>
    </header>
