{% extends 'base_generic.html' %}

{% block title %}
    Odalar - Some Tiny Houses
{% endblock %}

{% block content %}
    <div class="room-container">
        {% for room in Room %}
        <div class="room-card">
            <img src="{{ room.photo.url }}" alt="{{ room.name }}" class="room-photo">
            <div class="room-info">
                <h2>{{ room.name }}</h2>
                <p>Room Type: {{ room.get_room_type_display }}</p>
                <p>Price per Night: ${{ room.price_per_night }}</p>
                <p>{{ room.description }}</p>
                {% if room.availability %}
                    <p class="available">Available</p>
                {% else %}
                    <p class="not-available">Not Available</p>
                {% endif %}
                <a href="{% url 'reservation' room.id %}" class="book-btn">Book Now</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}
