/* Genel stil ayarları */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Header ve nav */
header {
    background-color: #333;
    padding: 10px 0;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: right;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list li {
    display: inline;
    margin-left: 20px;
}

.nav-list li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-list li a:hover {
    text-decoration: underline;
}

/* Giriş formu */
.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.login-container button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.login-container button:hover {
    background-color: #555;
}
