/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.hero-section {
    position: relative;
    background-image: url('images/some.jpg'); /* Resim yolunu belirtin */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ekranın tamamını kaplar */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7); /* %70 saydamlık */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

nav {
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    z-index: 2;
}

nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    background-color: #f5f5f5;
    padding: 50px 0;
    text-align: center;
}

.hero .container {
    max-width: 800px;
    margin: 0 auto;
}

.hero h1 {
    font-size: 2.5em;
}

.hero p {
    font-size: 1.2em;
    margin: 20px 0;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgba(8, 35, 2, 0.7);
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
}

#map {
    height: 500px; /* Harita yüksekliği */
    width: 100%;   /* Harita genişliği */
}

footer {
    background-color: rgba(8, 35, 2, 0.7);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}