{% extends "base_generic.html" %}

{% block content %}
  <h2>Giriş Yap</h2>
  <form method="post">
    {% csrf_token %}
    <div>
      <label for="id_username">Kullanıcı Adı:</label>
      <input type="text" name="username" id="id_username">
    </div>
    <div>
      <label for="id_password">Şifre:</label>
      <input type="password" name="password" id="id_password">
    </div>
    <button type="submit">Giriş Yap</button>
  </form>
    <p> Sevdiklerinizle birlikte huzurlu bir tatil geçirmek için mükemmel bir yer arıyorsanız, Some Tiny Houses tam size göre! Odalarımızı incelemek ve rezervasyon yapmak için lütfen giriş yapın. Kullanıcı hesabınızla oturum açarak, sunmuş olduğumuz eşsiz konaklama seçeneklerini keşfedin ve hayalinizdeki tatili planlayın. Sizi ağırlamaktan mutluluk duyarız!</p>
{% endblock %}